html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100vw;
    height: 100vh;
    border-collapse: collapse;
}

.box1 {
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
    width: 50%;
}

.box2 {
    background-color: orange;
    border: 2px solid black;
    text-align: center;
    width: 50%;
}

h1 {
    font-size: 4vw;
    margin: 0;
}